.banner {
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  transition: background-image 1s ease-in-out;
}

.button {
  background-color: #fefefe;
  color: black;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
}

.button:hover {
  background-color: #777777;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  position: relative;
  z-index: 1; /* Ensure product container is above the blurred background */
}
