.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.productDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 800px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 20px;
  gap: 20px;
}
.productDetails p {
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid gray;
}

.productTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productImage {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.productDescription {
  font-size: 16px;
  margin-bottom: 20px;
}

.productPrice {
  font-size: 20px;
  color: #e60023;
  margin-bottom: 10px;
}

.productOldPrice {
  font-size: 16px;
  color: #999;
  text-decoration: line-through;
  margin-left: 10px;
}

.productRating {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.shippingDetails {
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
}

.shippingDetails h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.actionButtons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buyNow {
  background-color: #e60023;
  color: #fff;
}

.addToCart {
  background-color: #007bff;
  color: #fff;
}
