* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
  row-gap: 50px;
}
.retunAndOrder {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 9px;
  border-radius: 5px;
  cursor: pointer;

  align-items: center;
  color: black;
}
.retunAndOrder span {
  font-size: 12px;
}
