.productPage {
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.productTitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.productImage {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.productDescription {
  font-size: 1rem;
  margin-bottom: 20px;
}

.productPrice {
  font-size: 1.5rem;
  color: #b12704;
  margin-bottom: 10px;
}

.productOldPrice {
  text-decoration: line-through;
  color: #565959;
  margin-left: 10px;
}

.productRating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.shippingDetails {
  margin-bottom: 20px;
}

.quantityLabel {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.quantityInput {
  width: 50px;
  margin-left: 10px;
}

.addToCartButton {
  background-color: #ffa41c;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 20px;
}

.addToCartButton:hover {
  background-color: #ff8c00;
}

.additionalInfo {
  font-size: 0.9rem;
  color: #565959;
}
